<h1>{{user.name}}</h1>
<p>{{user.occupation}}</p>
{{#if user.newsletter}}
    <p>Habilitado para receber Promoções</p>
{{else}}
    <p>Não autorizado enviar Promoções</p>
{{/if}}

<a href="/">Voltar</a>